<b><h2 id="buttons" class="padding-top-10">Buttons</h2></b>
<div class="pattern-buttons pattern-section">
  <h3>Default Styling</h3>
  <p>
    Button functionality is mainly taken from <a target="#blank" href="http://foundation.zurb.com/sites/docs/">Foundation</a>. However, colors and classes are different.
    <br />
    Foundation documentation: <a target="#blank" href="http://foundation.zurb.com/sites/docs/button.html#">http://foundation.zurb.com/sites/docs/button.html#</a>
    <div class="margin-bottom-25">
      <pre><code class="html">
  &lta class="button ig-red-button">Red Default&lt/a>
  &lta class="button ig-success-button">Success&lt/a>
  &lta class="button ig-alert-button">Alert&lt/a>
  &lta class="button ig-warning-button">Warning&lt/a>
  &lta class="button ig-primary-button">Primary&lt/a>
  &lta class="button ig-default-button">Default&lt/a>
  &lta class="button ig-blank-button">Blank&lt/a>
  &lta class="button disabled ig-default-button">Disabled&lt/a>
  &lta class="button hollow ig-default-button">Hollow&lt/a>
      </code></pre>
    </div>
  </p>

  <div class="row margin-bottom-15">
    <div class="columns small-3">
      <a class="button ig-red-button">Red Default</a>
    </div>
    <div class="columns small-3">
      <a class="button ig-success-button">Success</a>
    </div>
    <div class="columns small-3">
      <a class="button ig-alert-button">Alert</a>
    </div>
    <div class="columns small-3">
      <a class="button ig-warning-button">Warning</a>
    </div>
    <div class="columns small-3">
      <a class="button ig-primary-button">Primary</a>
    </div>
    <div class="columns small-3">
      <a class="button ig-default-button">Default</a>
    </div>
    <div class="columns small-3">
      <a class="button ig-blank-button">Blank</a>
    </div>
    <div class="columns small-3">
      <a class="button disabled ig-default-button">Disabled</a>
    </div>
    <div class="columns small-3">
      <a class="button hollow ig-default-button">Hollow</a>
    </div>
  </div>
  <h3>Sizing</h3>
  <p>
    <div class="margin-bottom-25">
      <pre><code class="html">
  &lta class="button tiny ig-primary-button">Tiny&lt/a>
  &lta class="button small ig-primary-button">Small&lt/a>
  &lta class="button ig-primary-button">Normal&lt/a>
  &lta class="button large ig-primary-button">Large&lt/a>
  &lta class="button expanded ig-primary-button">Expanded&lt/a>
  &lta class="button small expanded large ig-primary-button">Small & Expanded&lt/a>
      </code></pre>
    </div>
  </p>

  <div class="row margin-bottom-15">
    <div class="columns small-3">
      <a class="button tiny ig-primary-button">Tiny</a>
    </div>
    <div class="columns small-3">
      <a class="button small ig-primary-button">Small</a>
    </div>
    <div class="columns small-3">
      <a class="button ig-primary-button">Normal</a>
    </div>
    <div class="columns small-3">
      <a class="button large ig-primary-button">Large</a>
    </div>
    <div class="columns small-12">
      <a class="button expanded ig-primary-button">Expanded</a>
    </div>
    <div class="columns small-12">
      <a class="button small expanded large ig-primary-button">Small & Expanded</a>
    </div>
  </div>

</div>
<hr>
