<b><h2 id="colors" class="padding-top-10">Colors</h2></b>
<div class="pattern-forms pattern-section">
  <h3>Default Colors</h3>
  <p>
    <div class="margin-bottom-25">
      <pre><code class="css">
  // SASS VARIABLES
  // Click color to copy to clipboard

  //// Main
  $blue: #2C4154; <div class="color-preview" ig-color="#2C4154" data-clipboard-text="#2C4154"></div>
  $secondary-color: #FAAF40; <div class="color-preview" ig-color="#FAAF40" data-clipboard-text="#FAAF40"></div>
  $tertiary-color: #fbdca6; <div class="color-preview" ig-color="#fbdca6" data-clipboard-text="#fbdca6"></div>

  //// Secondary
  $light-gray: #EEEEEE; <div class="color-preview" ig-color="#EEEEEE" data-clipboard-text="#EEEEEE"></div>
  $medium-gray: #666666; <div class="color-preview" ig-color="#666666" data-clipboard-text="#666666"></div>
  $dark-gray: #333333; <div class="color-preview" ig-color="#333333" data-clipboard-text="#333333"></div>
  $black: #000000; <div class="color-preview" ig-color="#000000" data-clipboard-text="#000000"></div>
  $white: #FCFBFB; <div class="color-preview" ig-color="#FCFBFB" style="border: 1px solid lightgray" data-clipboard-text="#FCFBFB"></div>
  $red: #851818; <div class="color-preview" ig-color="#851818" data-clipboard-text="#851818"></div>
  $light-blue: #28A1D8; <div class="color-preview" ig-color="#28A1D8" data-clipboard-text="#28A1D8"></div>
  $primary-color: #007EE6; <div class="color-preview" ig-color="#007EE6" data-clipboard-text="#007EE6"></div>
  $ig-error-color: #F10000; <div class="color-preview" ig-color="#F10000" data-clipboard-text="#F10000"></div>
  $ig-success-color: #2C9711; <div class="color-preview" ig-color="#2C9711" data-clipboard-text="#2C9711"></div>

      </code></pre>
    </div>
  </p>
  <div class="color-template">
  </div>

  <h3>Color Utility Classes</h3>
  <p>
    <div class="margin-bottom-25">
      <pre><code class="css">
  //// Color Classes
  .ig-text-blue { color: $blue };
  .ig-text-secondary { color: $secondary-color };
  .ig-text-tertiary { color: $tertiary-color };
  .ig-text-red { color: $red };
  .ig-text-light-blue { color: $light-blue };
  .ig-text-error { color: $ig-error-color };
  .ig-text-success { color: $ig-success-color };

  //// Background Color Classes
  .ig-background-blue { background-color: $blue };
  .ig-background-secondary { background-color: $secondary-color };
  .ig-background-tertiary { background-color: $tertiary-color };
  .ig-background-red { background-color: $red };
      </code></pre>
    </div>
  </p>
  <div class="row color-classes">
    <div class="columns small-12">
      <span class="ig-text-blue">I got the blues</span> <span class="ig-text-secondary">I'm secondary</span> <span class="ig-text-tertiary">I'm tertiary</span> <span class="ig-text-red">I'm red</span> <span class="ig-text-light-blue">I'm light blue</span> <span class="ig-text-error">I'm error red</span> <span class="ig-text-success">I'm success green</span>
    </div>
    <div class="columns small-12 ig-background-blue">
      .ig-background-blue <span class="float-right"><code style="font-size: .9em;">#2C4154</code></span>
    </div>
    <div class="columns small-12 ig-background-secondary">
      .ig-background-secondary <span class="float-right"><code style="font-size: .9em;">#FAAF40</code></span>
    </div>
    <div class="columns small-12 ig-background-tertiary">
      .ig-background-tertiary <span class="float-right"><code style="font-size: .9em;">#FBDCA6</code></span>
    </div>
    <div class="columns small-12 ig-background-red">
      .ig-background-red <span class="float-right"><code style="font-size: .9em;">#851818</code></span>
    </div>
  </div>

</div>
<hr>
