<b><h2 id="messages" class="padding-top-10">Messages</h2></b>
<div class="pattern-forms pattern-section">
  <h3>Messages (callouts)</h3>
  <p>
    <div class="margin-bottom-25">
      <pre><code class="css">
  .ig-message {
    position: relative;
    .message-icon {
      position: absolute;
      left:0;
      width: 45px;
      height: 100%;
    }
    .message-main {
      padding:15px;
      margin-left:45px;
    }
  }

  .ig-message.warning {
    border: 1px solid $warning-color;
    .message-icon {
      background-color: $warning-color;
      background-image: url("../images/exclamation.svg");
      background-position: right 50% bottom 50%;
      background-repeat: no-repeat;
      background-size: 1.4em;
    }
    .message-main {
      background-color: #FEF2DE;
    }
  }
  .ig-message.danger {
    border: 1px solid $alert-color;
    .message-icon {
      background-color: $alert-color;
      background-image: url("../images/ig-cancel.svg");
      background-position: right 50% bottom 50%;
      background-repeat: no-repeat;
      background-size: 1.2em;
    }
    .message-main {
      background-color: #FDE5E5;
    }
  }
  .ig-message.success {
    border: 1px solid $success-color;
    .message-icon {
      background-color: $success-color;
      background-image: url("../images/check-mark.svg");
      background-position: right 50% bottom 50%;
      background-repeat: no-repeat;
      background-size: 1.2em;
    }
    .message-main {
      background-color: #E9F4E7;
    }
  }
  .ig-message.primary {
    border: 1px solid $primary-color;
    .message-icon {
      background-color: $primary-color;
      background-image: url("../images/info.svg");
      background-position: right 50% bottom 50%;
      background-repeat: no-repeat;
      background-size: 1.6em;
    }
    .message-main {
      background-color: #E6F0FA;
    }
  }
      </code></pre>
    </div>
  </p>
  <div class="row">
    <div class="small-12 margin-bottom-15">
      <div class="ig-message warning ig-full">
        <div class="message-icon">

        </div>
        <div class="message-main">
            Testing this <b>stuff</b>
        </div>
      </div>
    </div>
    <div class="small-12 margin-bottom-15">
      <div class="ig-message success ig-full">
        <div class="message-icon">

        </div>
        <div class="message-main">
            Testing this <b>stuff</b>
        </div>
      </div>
    </div>
    <div class="small-12 margin-bottom-15">
      <div class="ig-message danger ig-full">
        <div class="message-icon">

        </div>
        <div class="message-main">
            Testing this <b>stuff</b>
        </div>
      </div>
    </div>
    <div class="small-12 margin-bottom-15">
      <div class="ig-message primary ig-full">
        <div class="message-icon">

        </div>
        <div class="message-main">
            Testing this <b>stuff</b>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
