<b><h2 id="typography" class="padding-top-10">Typography</h2></b>
<div class="pattern-forms pattern-section">
  <h3>Sytling</h3>
  <p>
    <b>Lato</b> is the main font used, import from google fonts (link below).
    <div class="margin-bottom-25">
      <pre><code class="css">
  // IMPORTING FILE WITH SASS
  @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

  // CLASS REFERENCE
  .class-name: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      </code></pre>
    </div>
  </p>

</div>
<hr>
