<b><h2 id="utilities" class="padding-top-10">Utilities</h2></b>
<div class="margin-bottom-15">Foundation utility classes: </div>
  Float Classes: <a target="#blank" href="http://foundation.zurb.com/sites/docs/float-classes.html">http://foundation.zurb.com/sites/docs/float-classes.html</a>
  <br>
  Helper Classes: <a target="#blank" href="http://foundation.zurb.com/sites/docs/typography-helpers.html">http://foundation.zurb.com/sites/docs/typography-helpers.html</a>
  <br>
  <br>
<div class="pattern-forms pattern-section">
  <h3>Margin & Padding</h3>
  We also use a set of margin and padding classes to help with quick overwrites and positioning.
  <p>
    <div class="margin-bottom-25">
      <pre><code class="css">
  // Margin
  .margin-left-[5-25] { margin-left: [5-25]px !important; }
  .margin-right-[5-25] { margin-left: [5-25]px !important; }
  .margin-top-[5-25] { margin-left: [5-25]px !important; }
  .margin-bottom-[5-25] { margin-left: [5-25]px !important; }
  .noMargin { margin: 0px !important; }

  // Padding
  .padding-left-[5-25] { margin-left: [5-25]px !important; }
  .padding-right-[5-25] { margin-left: [5-25]px !important; }
  .padding-top-[5-25] { margin-left: [5-25]px !important; }
  .padding-bottom-[5-25] { margin-left: [5-25]px !important; }
  .noPadding { padding: 0px !important };
      </code></pre>
    </div>
  </p>
  <!-- <div class="row utilities-marginPadding">
    <div class="columns small-3">
      <a class="button margin-left-15">Margin-Left!</a>
    </div>
    <div class="columns small-3">
      <a class="button margin-right-15">Margin-Right!</a>
    </div>
    <div class="columns small-3">
      <a class="button margin-top-15">Margin-Top!</a>
    </div>
    <div class="columns small-3">
      <a class="button margin-bottom-15">Margin-Bottom!</a>
    </div>
    <div class="columns small-3">
      <a class="button padding-left-25">Padding-Left!</a>
    </div>
    <div class="columns small-3">
      <a class="button padding-right-25">Padding-Right!</a>
    </div>
    <div class="columns small-3">
      <a class="button padding-top-25">Padding-Top!</a>
    </div>
    <div class="columns small-3">
      <a class="button padding-bottom-25">Padding-Bottom!</a>
    </div>
    <div class="columns small-3">
      <a class="button noPadding">No-Padding!</a>
    </div>
    <div class="columns small-3">
      <a class="button noMargin">No-Margin!</a>
    </div> -->

  <h3>Display Classes</h3>
  Quick classes to change element display.
  <p>
    <div class="margin-bottom-25">
      <pre><code class="css">
  .ig-inline-block { display: inline-block; }
  .ig-inline       { display: inline; }
  .ig-block        { display: block; }
  .ig-flex         { display: flex; }
      </code></pre>
    </div>
  </p>

  <h3>Position Classes</h3>
  Quick classes to change element display.
  <p>
    <div class="margin-bottom-25">
      <pre><code class="css">
  .ig-relative  { position: relative; }
  .ig-static    { position: static; }
  .ig-fixed     { position: fixed; }
      </code></pre>
    </div>
  </p>

  <h3>Typography Classes</h3>
  Quick classes to change font styling.
  <p>
    <div class="margin-bottom-25">
      <pre><code class="css">
  .ig-bold     { font-weight: bold; }
  .ig-regular  { font-weight: normal; }
  .ig-italic   { font-style: italic; }

  .ig-ell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .ig-break-word { word-wrap: break-word; }
  .ig-no-wrap    { white-space: nowrap; }

  .ig-text-light { color: $medium-gray; font-size: .8em; }

  .ig-full { width:100% };
      </code></pre>
    </div>
  </p>
</div>
</div>
<hr>
